apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-otus
  namespace: m
  labels:
    app: microservice-otus
spec:
  replicas: 2
  selector:
    matchLabels:
      app: microservice-otus
  template:
    metadata:
      labels:
        app: microservice-otus
    spec:
      containers:
      - name: otus
        image: azorinmsu/gs-spring-boot-docker:0.2
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        env:
          - name: MONGO_DATABASE
            valueFrom:
              secretKeyRef:
                name: spring-security
                key: spring.mongo.dbname
          - name: MONGO_PORT
            valueFrom:
              secretKeyRef:
                name: spring-security
                key: spring.mongo.port
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: spring-security
                key: spring.mongo.password
          - name: MONGO_USERNAME
            valueFrom:
              secretKeyRef:
                name: spring-security
                key: spring.mongo.username
        volumeMounts:
        - name: spring-application-config
          mountPath: /config
      volumes:
      - name: spring-application-config
        configMap:
          name: spring-application-config
